// Typography
$font: "Josefin Sans", sans-serif;

// Primary colors
$brightBlue: hsl(220, 98%, 61%);
$gradientOne: hsl(192, 100%, 67%);
$gradientTwo: hsl(280, 87%, 65%);

// Light Theme
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

// Dark Theme
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$lightGrayishBlueHover: hsl(236, 33%, 92%);
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue: hsl(233, 14%, 35%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);

// Styles
body {
  font-family: $font;
  font-size: 18px;
  height: 100vh;
  background-color: $veryLightGray;
  margin: 0;
}
.background-image {
  position: fixed;
  width: 100vw;
  background-image: url(/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 33vh;
}
.main-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.content-wrapper {
  width: 600px;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.header-text {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  letter-spacing: 8px;
  font-size: 48px;
}
.header-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main {
  width: 100%;
  height: 20vh;
}
.input-container {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.input-circle {
  border: solid 1px #ccc;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin: 0 30px 0 0;
}
.input-field {
  width: 90%;
}
.input-field input {
  border: none;
  font-family: $font;
  font-size: 19px;
  width: 100%;
  outline: none;
  background-color: transparent;
  transform: translateY(2px);
}
.todo-summary p {
  font-size: 14px;
  margin: 0;
  color: $darkGrayishBlue;
}
.todo-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 10px 100px 1px #ccc;
}
.todo-summary {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.todo-sort,
.todo-action {
  cursor: pointer;
}
.todo-sort:not(:last-child) {
  margin: 0 10px 0 0;
}
.todo-summary-sort {
  display: flex;
  font-weight: 700;
}
.todo-movements-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 28px;
  margin: 0;
  border-bottom: solid 1px #ccc;
}
.todo-movement-row-left {
  display: flex;
  align-items: center;
}
.movements-row-text {
  font-size: 18px;
  transform: translateY(2px);
  color: $veryDarkGrayishBlue;
  margin: 0;
}
.movements-row-cross {
  cursor: pointer;
}
